#logo {
	max-width: 150px;
	margin: 30px auto;
}

body {
	background: #222;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1,h2,h3,h4,h5,h6,p,a,a:visited,a:hover {
	font-family: Helvetica, Arial, sans-serif;
	color: #fff;
}

h1 {
	font-size: 3rem;
}

#dropzone {
	margin-top: 50px;
	border: 5px solid #222277;
	width:  90%;
	max-width: 500px;
	height: 300px;
	text-align: center;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

#dropzone p {
	color: #666;
}
